body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: black; }

.content {
  margin: 0;
  padding: 0; }
  .content h1 {
    margin: 0;
    padding: 0;
    border-top: 20px solid darkmagenta;
    border-bottom: 20px solid darkmagenta; }
    .content h1 div {
      display: inline-block;
      color: magenta; }
