body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: black; }

.content {
  margin: 0;
  padding: 0; }
  .content div nav {
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc; }
    .content div nav .header-item {
      color: #777;
      padding: 0.85rem 2rem; }
      .content div nav .header-item.active {
        color: #0072ff;
        font-weight: bold;
        border-bottom: 2px solid #0072ff; }
  .content h1 div {
    display: inline-block;
    color: magenta; }
